
<header id="head" class="secondary"></header>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'workshop.jpg', class: 'img-responsive center-block' %>
    </div>
    <div class="col-md-6">
      <%= image_tag 'milling.jpg', class: 'img-responsive center-block' %>
    </div>
  </div>


<div class="row">
  <div class="col-md-6 col-md-offset-3 workshop">
    <p><b>Design, fabrication and packaging of MEMS</b></p> 
    <p>“Any sufficiently advanced technology is indistinguishable from magic” <br>&nbsp;- Arthur C. Clarke</p>

    <p>Man has been on the earnest pursuit of realizing greater possibilities with every new technological innovation, since the time wheel was invented. This great zeal has led him to build technology that has massively revolutionized our lives. One such breakthrough that has influenced several domains of human activity is MEMS, which has already become ubiquitous. MEMS is an acronym that stands for Micro-Electro-Mechanical-Systems. From sensors to actuators, it spans some of the coolest technologies of the Silicon era. To stay uninformed about these advancements would prove ignorant. </p>
    <p>So what are these MEMS all about? Eager to learn more? Well, you have just landed at the right place. This workshop has been exclusively designed to help the participants learn how a typical MEMS can be realized, right from the conception of the idea and basic principles to the design and manufacturing processes that result in the desired product. With lectures by eminent speakers from academia and demonstrations, both live and video, the workshop is jam-packed with informative sessions that ultimately leave you amazed and wanting to learn more by the end of the day. For all those eager minds out there, wait no further. Your key to access a whole new world of knowledge is just a click away!</p>
    <p><b>LIVE DEMO will be for first 200 participants only. First Come First Server Basis </b></p>
    <div class="row">
      <div class="col-md-8">
        <ul class="workshop-details">

          <li><span class="fa fa-rupee"></span> <b>Fee: 600</b> /- </li>
          <li><span class="fa fa-calendar"></span> 01-10-2016 &nbsp; | &nbsp; <span class="fa fa-clock-o"></span>  Full Day</li>
          <li><span class="fa fa-phone"></span> Hari Bharathi  +919952624715</li>
          <li><span class="fa fa-phone"></span> Dhayaudhayan &nbsp; +918682027459</li>

        </ul>
      </div>
      <% if user_signed_in? %>
          <div class="col-md-4">
            <div class="workshop-register">
              <a href="https://www.instamojo.com/krysta16/krysta16-workshop/" target="_blank" class="btn btn-action btn-sm">Register</a>
            </div>
          </div>
    <% else %>
          <div class="col-md-4">
            <div class="cus-mod-foot cus-car-foot">
              <a href="<%= url_for new_user_session_path  %>  " class="btn btn-action">Sign in to Register</a>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>
</div>
<!--<h1 class="text-center">Design, fabrication and packaging of MEMS</h1>-->
