<!-- Header -->
<header id="head">
  <canvas id="c"></canvas>
  <div class="container landing-header">

    <div class="row">
      <h1 class="lead">Miniaturizing Omnipotence</h1>
      <p class="tagline">From civil to mechanical till microchips..we Conquer</p>
      <p><%= link_to 'WORKSHOP', workshops_path, class: 'btn btn-default btn-lg' %> <%= link_to 'BE PART OF QUANTA', new_user_registration_path, class:'btn btn-lg btn-action' %> </p>
    </div>
  </div>

</header>
<!-- /Header -->
